.azure-container {
  background-color: #ffffffdd;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 630px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.azure-container h2 {
  margin-bottom: 35px;
  font-size: 25px;
  color: #522b9c;
  text-align: center;
}

.azure-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
   align-items:center;
}

.azure-form-row {
  display: flex;
 justify-content: flex-start;
   width: 100%;
   gap: 30px;
}

.azure-form-column {
   display: flex;
  flex-direction: column;
  width: 45%;
}

.azure-form label {
  font-weight: 600;
  font-size: 15px;
  color: #333;
    margin-bottom: 15px;
   margin-left: 20px;
}

.azure-form input,
.azure-form textarea {
  padding: 12px 4px;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 280px;
  margin-bottom: 20px;
  margin-left: 20px;
  
}

.azure-test-btn {
  background-color: #7a52c4;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  align-self: center;
}

.azure-test-btn:hover {
  background-color: #6935b5;
}

.azure-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.azure-modal {
  background: #fff;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.azure-modal p {
  font-size: 16px;
  margin-bottom: 16px;
  color: #333;
}

.azure-submit-btn {
  background-color: #7a52c4;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.azure-submit-btn:hover {
  background-color: #5d3da5;
}

.azure-container-wrapper {
  position: relative;
}

.azure-notification-wrapper {
  position: absolute;
  top: 20px;
  right: 40px;
}

.azure-notification-btn {
  position: relative;
  background-color: #7a52c4;
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(122, 82, 196, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.azure-notification-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 12px;
  font-weight: bold;
}
