.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* take full height available */
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 60px;
}


.home-container h1 {
  font-size: 30px;
  font-weight: 500;
  color: #494064;
 
}
