.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* CHANGE to min-height */
  width: 100%;
  overflow: hidden;
}

.content-layout {
  display: flex;
  flex: 1;         /* ✅ fills space between header and footer */
  overflow: hidden;
   font-family: 'Public Sans', Georgia, 'Times New Roman', Times, serif;
   padding-top: 60px;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
   font-family: 'Public Sans', Georgia, 'Times New Roman', Times, serif;
    background-color: #f7f9fc;
}
 
/* Shift all SweetAlert2 toasts down below the 60px header */
.swal2-container.swal2-top-end {
  top: 52px !important;   /* header height (60px) + 10px gap */
  right: -8px !important;  /* keep it aligned to the right */
}